* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
   background:rgb(248 152 39 / 92%);
 
}

.sidebar-wrapper {
  position: relative;
}

.sidebar {
  width: 80px;
  height: 420px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.sidebar.active {
  width: 280px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}
.sidebar ul li:hover{
    background-color:whitesmoke;
    color:orange;
    font-weight: bold;
}
.menu-icon {
  min-width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: orange;
}
.menu-icon:hover{
    color:orange;
}

.menu-text {
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-size: 16px;
}

.menu-toggle {
  position: absolute;
  top: calc(50% - 20px);
  right: -30px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid rgb(248 152 39 / 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  color: orange;
}

.menu-toggle.active::before {
  content: "\f104";
}
