body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.slider-container {
  display: grid;
  grid-template-columns: auto 960px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.slider-window {
  width: 960px;
  overflow: hidden;
}

.slider-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 320px;
  transition: transform 0.5s ease;
}

.slider-track img {
  width: 300px;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  object-fit: cover;
}

.arrow-btn {
  background:#0d5556;
  color: white;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
}

.arrow-btn:hover {
  background: #555;
}

.page-box {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;
}

.page-number {
  padding: 8px 13px;
  background: #33333347;
  cursor: pointer;
 
  border-radius: 50%;
}

.page-number.active {
  background: #103233;
  color: white;
  border-radius: 50%;
}
