@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(25, 12, 42), #ec4899);
}


.weather-box {
  width: 90%;
  max-width: 420px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  background:rgb(45 32 62 / 50%);
  color: #fff;
}

.search-bar {
  position: relative;
  width: 100%;
}
.search-bar input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background:rgb(18 12 25 / 45%);
  padding: 0 45px 0 20px;  /* space for icon */
  font-size: 16px;
}
.press-enter{
  color:grey;
  font-weight: bold;
}

.search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
 
  color:white!important;
  cursor: pointer;
}

.temp-text {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
}

.city-text {
  font-size: 25px;
  font-weight: 400;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.info-col {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-col p {
  font-size: 18px;
}
.weather-range{
  background: rgb(22 3 48 / 39%);
  border-radius: 5px;
  border:2px solid rgb(25, 12, 42); 
   box-shadow: 0 8px 25px rgba(236, 72, 153, 0.35);
}
